@model PaginatedList<iTut.Models.Users.StudentUser>
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Students";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/js/printThis.js"></script>
<div id="collapseOffCanvas" class="bg-body offcanvas-collapse open w-100">
    <main class="main-expanded vh-100 w-100">
        <div class="container-fluid px-lg-5">
            <div class="d-flex py-5 border-bottom">
                <span class="d-inline-flex flex-shrink-0 align-items-center justify-content-center mr-3 text-white text-uppercase bg-primary rounded-circle  wh-2-5rem"></span>
                <div class="mr-auto">
                    <h2 class="mb-2 fs-1 lh-tight"> </h2>
                    <p class="lh-tight">Class Name Management</p>
                </div>
                <ul class="list-unstyled d-flex align-items-center">
                    <li class="d-lg-none mr-sm-5">
                        <button class="btn link-body p-0 offcanvas-button" type="button">
                            <svg class="gi gi-arrow-circle-left fs-4" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2zm-.293 6.293a1 1 0 0 0-1.414 0h0l-3 3-.083.094a1 1 0 0 0 .083 1.32h0l3 3 .094.083a1 1 0 0 0 1.32-.083h0l.083-.094a1 1 0 0 0-.083-1.32h0L10.416 13H16l.117-.007A1 1 0 0 0 16 11h0-5.586l1.293-1.293.083-.094a1 1 0 0 0-.083-1.32z"></path>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="invisible-scrollbar position-relative wh-main">
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="d-flex align-items-center mb-3">
                            <hr />
                            <div class="mr-auto">
                                <h2 class="mb-2 fs-2 lh-tight">List Of </h2>
                                <p>Students</p>
                            </div>
                            <hr />


                           
                        </div>

                        <hr />
                        <form asp-controller="HOD" asp-action="Students" method="get">
                            <div class="form-actions no-color">
                                <p>
                                    Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                                    <input type="submit" value="Search" class="btn btn-default" /> |
                                    <a asp-controller="HOD" asp-action="Students">Back to Full List</a>
                                </p>
                            </div>
                        </form>
                        <hr />
                        <div id="Grid">
                        <table class="table" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>

                                    <th>
                                        FirstName
                                    </th>
                                    <th>
                                        <a asp-controller="HOD" asp-action="Students" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Last Name</a>
                                    </th>
                                    <th>
                                        EmailAddress
                                    </th>
                                    <th>
                                        PhoneNumber
                                    </th>
                                    <th>
                                        Grade
                                    </th>
                                    <th>
                                        Gender
                                    </th>
                                    <th>
                                        Race
                                    </th>
                                    <th>
                                        PhysicalAddress)
                                    </th>
                                    <th>
                                        <a asp-controller="HOD" asp-action="Students" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">CreatedOn</a>

                                    </th>
                                    <th>
                                        Archived
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.FirstName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LastName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EmailAddress)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Grade)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Gender)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Race)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PhysicalAddress)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedOn)
                                        </td>
                                        
                                        <td>
                                            <a asp-controller="HOD" asp-action="StudentDetails" asp-route-id="@item.Id">Details</a> |
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        </div>
                        @{
                            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                        }

                        <a asp-controller="HOD" asp-action="Students"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-pageNumber="@(Model.PageIndex - 1)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           class="btn btn-default @prevDisabled">
                            Previous
                        </a>
                        <a asp-controller="HOD" asp-action="Students"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-pageNumber="@(Model.PageIndex + 1)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           class="btn btn-default @nextDisabled">
                            Next
                        </a>
                    </div>
                    <hr/>
                    <div class="d-flex align-items-center mb-3">
                        
                        <div class="mr-auto">
                            <br />
                            <br />
                            <form method="post" asp-controller="HOD" asp-action="ExportStudents">
                                <input type="submit" value="Export Students To Excel" />
                            </form>
                        </div>
                        
                        <div class="mr-auto">
                           
                           <button onclick="window.print()"> Print To PDF current Record</button>
                        </div>


                    </div>
                    
                    
                    <hr />


                    <hr />
                </div>
                <div class="col-12">
                </div>
            </div>
        </div>
    </main>
</div>