@using iTut.Models.Coordinator
@model iTut.Models.Quiz.Quiz

@{
    ViewData["Title"] = "CreateQuiz";
    //List<EducatorUser> educators = ViewBag.Teachers;
    //List<Subject> subjects = ViewBag.subjects;
}



<div class="Container  w-100 py-3">

 <div class="quiz_header_wrapper d-flex py-2 mx-2 px-2"> 
     
    <div class="Quiz_title "> 
       <h1>Create Quiz</h1>
       </div>
   <div class="back_button ml-auto pr-3 py-2">
        <a class="btn btn-default" href="/Educator/Questions">Add Options</a>
        <a href="/Educator/CreateTask" class="btn btn-outline-danger"> Back </a> 

    </div>

  

   </div>

    <div class="quiz py-2 mx-2 px-3">
        <h4 class="py-2"> Quiz Credintials:</h4>
        <hr class="p-0 m-0"/>

        <form asp-controller="Educator" asp-action="CreateQuiz" method="post" class="h-100 rounded-0">
          <div class="Quiz-body py-2">

           <div class="form-group">
               <label>Quiz Title</label>
               <input asp-for="QuizTittle" type="text" multiple required class="form-control"/>
               
           </div>
            <div class="form-group">
               <label class="pt-1" for="textarea">Quiz Description: </label>
               <textarea asp-for="QuizDescription" class="form-control"id="textarea" cols="80" rows="5" placeholder="Enter the Quiz Description & Instructions "></textarea>
            </div>
            
             <div class="row">

                  <div clas="col-md-1"> 
            
                     <label asp-for="Grade">Choose Grade:</label>
                     
                    <select asp-for="Grade" asp-items="Html.GetEnumSelectList<Grade>()" class="form-control"></select>
                    
                  </div>
                    
               
                            <div class="col-md-6">
                             <label asp-for="SubjectID">Choose Subject:</label>
                             <select asp-for="SubjectID" class="form-control">
                                 @foreach(var subject in ViewBag.subjects)
                                 {
                                     <option value="@subject.Id"> @subject.SubjectName</option>
                                 }
                             </select>
                             <span asp-validation-for="SubjectID" class="text-danger"></span>
                          </div>
                          <div class="col-md-6">
                             <label asp-for="TopicId"> Choose Topic:  </label>
                             <select asp-for="TopicId" class="form-control">
                                 @foreach(var topic in ViewBag.topics)
                                 {
                                     <option value="@topic.TopicId"> @topic.TopicName</option>
                                 }

                             </select>
                             <span asp-validation-for="TopicId" class="text-danger"></span>
                    </div>
                
              </div>
              

            <div class="form-group">
               <label asp-for="StartDate" class="control-label"> Start Date:</label>
                   <input asp-for="StartDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" />
                <span asp-validation-for="StartDate" class="text-danger"></span> 
           </div>
           <div class="form-group">
             <label asp-for="EndDate" class="control-label"> End Date:</label>
                     <input asp-for="EndDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" />
              <span asp-validation-for="EndDate" class="text-danger"></span> 
          </div>
            
       
         
         </div>

     
        <div class="navigation-btns pt-2"> 
            <a href="" class="btn btn-danger"><i class="bi bi-eye"></i>Active Quiz</a>
         
            <button type="submit" href="" class="btn btn-primary"> Creat Quiz</button>
            
 
        </div>
     </form>

     
    </div>

</div>