
@model iTut.Models.UploadFiles.FileUploadViewModel

@{
    ViewData["Title"] = "Upload File";

    //List<iTut.Models.Edu.Topic> topics = ViewBag.topics;
}
    
<style>  
    table {  
        width: 100%;  
    }  
    table tr td{  
        border-top: 1px solid black;  
        text-align: center;  
        word-wrap: break-word;  
        padding:2px 2px;
    }  
  
    table tr:hover {  
        background-color:rgba(0,0,0,0.7);  
        color:#fff;  
    }  
    table tr th {  
        
        border-bottom: 2px solid black;
        text-align: center;  
        background-color: #344e41;  
        color: #ffff;  
        padding: 15px 2px;

    }  
    table tr:nth-of-type(even) {
    background-color: #6a994e;
    color:#ffff;
    }
    table tr:nth-of-type(even):hover{
    background-color: #31572c;
    color:#ffff;
    }
    
</style> 
<div class="Container py-3 m-2 w-100 px-2">
    
   <div class="Category-container d-flex py-2 mx-2">

       <div class="Category_tittle">
    <h1 class="pb-2">Upload Files</h1>

       </div>
       
     <div class="back_button ml-auto pr-3 py-0">
        <a href="/Educator/CreateTask" class="btn btn-outline-danger"> Back </a> 

     
    </div>
    </div>
     <hr />
    <div class="py-2 px-1">
        
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success alert-dismissible" style="margin-top:20px">
                @ViewBag.Message
            </div>
        }
        <form method="post" enctype="multipart/form-data" class="form-group">
            <div class="form-group">
            <label for="file-title" class="pb-2" >Choose File</label>
            <input type="file" name="files" multiple required class="form-control"/>
            </div>
          <div class="form-group">
              <label for="file=-description" class="pb-2" >Enter File description</label>
            <input type="text" autocomplete="off" class="form-control"placeholder="Enter File Description" name="description" required />
           </div>

          <div class="form-group">
              <div class="form-group mb-5 droptown">
                  <label for="subject" class="pb-2"> Choose Subject:</label>
                    <select asp-for="subjects" class="form-control">
                                @foreach (var subject in Model.subjects)
                                {
                                    <option value="@subject.Id"> @subject.SubjectName </option>
                                }
                    </select>
              </div>
                 
          </div>
           <div class="form-group">
                  <label for="Grades" class="pb-2"> Choose Grade:</label>
                   <div class="form-group">
                    <select asp-for="FilesOnDatabase" asp-items="Html.GetEnumSelectList<Grade>()" class="form-control"></select>
                </div>
                  
            </div>

            <div class="form-group">
                 <label for="topics" class="pb-2"> Choose a Topic:</label>
                <select asp-for="topics" class="form-control">
                     @foreach (var topic in Model.topics)
                        {
                          <option value="@topic.TopicId"> @topic.TopicName </option>
                        }
                    </select>

           </div>
           <div class="form-group py-2">

            <button class="btn btn-success" type="submit" asp-controller="Educator" asp-action="UploadFile">Upload File</button>
            </div>
        </form>
    </div>
        <hr />
        <h4 class="pb-2">Files on File System</h4>

            @if (Model.FilesOnDatabase.Count == 0)
            {
                 <div class="col-12 py-3">
                   <div class="alert alert-info">
                      <p>No Files On Database</p>
                  </div>
                 </div>
            }
            else
            {
                <caption class="pb-2">List of Files on File System</caption>

                <table class="table table-bordered table-sm pt-2" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                          <!--  <th>#</th> -->
                            <th>Name</th>
                            <th>Description</th>
                            <th>File Type</th>
                            <th>Subject</th>
                            <th>Topic</th>
                            <th>Grade</th>
                            <th>Uploaded By</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var file in Model.FilesOnDatabase)
                        {
                            <tr>
                              @*  <th>@file.ID</th>*@
                                <td>@file.Name</td>
                                <td>@file.Description</td>
                                <td>@file.FileType</td>
                                <td>@file.Subject.SubjectName</td>
                                <td>@file.Topic.TopicName</td>
                                <td>@file.Grade</td>
                                <td>@file.Educator.FirstName @file.Educator.LastName</td>
                                <td>
                                    <a type="button" class="btn btn-primary" asp-controller="Educator" asp-action="DownloadFileFromDatabase" asp-route-id="@file.ID">Download</a>
                                    <a type="button" class="btn btn-danger" asp-controller="Educator" asp-action="DeleteFileFromDatabase" asp-route-id="@file.ID">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            } 

</div>